.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Luminari";
    -fx-base: limegreen;
    -fx-background: limegreen;
    -fx-alignment: center;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: lightpink;
    -fx-border-radius: 10;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.combo-box-base {
    -fx-text-base-color: black;
    -fx-background-color: lightpink;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.combo-box-base:hover {
    -fx-background-color: #3a3a3a;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Luminari";
    -fx-text-fill: red;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Luminari";
}

#title-text {
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: "Luminari";
}

#colorlabel {
    -fx-font-size: 10pt;
    -fx-font-family: "Luminari";

}
